/* Css for header and sidebar */
@media screen and (min-width: 900px) {
    #close-sidebar-btn {
        display: none;
    }
}

@media screen and (min-width: 900px) {
    #sidebar:not(.hide) ~ #content {
        margin-left: 280px;
    }
}

#sidebar.hide {
    transform: translateX(-280px);
}

#sidebar {
    transition: transform 0.5s;
}

#content {
    transition: margin 0.5s;
}

/* Css for ellipsis */
.one-line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Number of lines to show */
    -webkit-box-orient: vertical;
}

.two-line-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to show */
    -webkit-box-orient: vertical;
}