<footer class="position-absolute top-100 card border-0 rounded-0 start-0 end-0">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-between align-items-baseline py-2 mt-3 mb-0 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1 fs-4">
                    <img style="width: 38px" src="~/favicon.png" alt="Book icon" />
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2024 HCMUS, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex fs-4">
                <li class="ms-3">
                    <a class="text-muted" target="_blank"
                       href="https://www.facebook.com/profile.php?id=100019167581327">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" target="_blank" href="https://www.facebook.com/profile.php?id=100019167581327">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" target="_blank" href="https://www.facebook.com/profile.php?id=100019167581327">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
