<header class="p-3 border-bottom card border-0 rounded-0">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <a href="/"
               class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-2 fs-3">
                <img style="width: 38px" src="~/favicon.png" alt="Book icon" />
            </a>

            <ul class="nav nav-pills col-auto me-auto justify-content-center mb-md-0 fw-bold">
                <li class="nav-item" id="home">
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index"
                       class="nav-link px-2 @ManageNavPages.HomeNavClass(ViewContext)">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-area="Customer" asp-controller="Order" asp-action="Index"
                       class="nav-link px-2 @ManageNavPages.OrderNavClass(ViewContext)">Order</a>
                </li>
                <li class="nav-item">
                    <a asp-area="Customer" asp-controller="Cart" asp-action="Index"
                       class="nav-link px-2 @ManageNavPages.CartNavClass(ViewContext) position-relative">
                        <i class="fa-solid fa-cart-shopping"></i>
                        @await Component.InvokeAsync("ShoppingCart")
                    </a>
                </li>
            </ul>

            @await Component.InvokeAsync("ToggleTheme")

            <partial name="_LoginPartial" />
        </div>
    </div>
</header>
