@{
    string darkMode = ViewContext.HttpContext.Session.GetString(ThemeSettings.DarkModeSessionKey) ?? ThemeSettings.LightMode;
}

<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <span
                class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-auto"
                style="cursor: pointer; font-size: 24px"
                id="toggle-btn"
            >
                <i class="fa-solid fa-bars"></i>
            </span>

            <div class="form-check form-switch mb-0 me-4">
                <input class="form-check-input" type="checkbox" role="switch" id="darkMode" @(darkMode == ThemeSettings.DarkMode ? "checked" : "") />
                <label class="form-check-label" for="darkMode">
                    @if (darkMode == ThemeSettings.DarkMode)
                    {
                        <i id="dark-mode-icon" class="fa-solid fa-moon fa-lg"></i>
                    }
                    else
                    {
                        <i id="dark-mode-icon" class="fa-solid fa-sun fa-lg"></i>
                    }
                </label>
            </div>

            <partial name="_LoginPartial" />
        </div>
    </div>
</header>