@{
    string darkMode = ViewContext.HttpContext.Session.GetString(ThemeSession.SessionKey) ?? ThemeSession.LightMode;
}

<header class="p-3 border-bottom card border-0 rounded-0">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <span
                class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-auto"
                style="cursor: pointer; font-size: 24px"
                id="toggle-btn"
            >
                <i class="fa-solid fa-bars"></i>
            </span>

            @await Component.InvokeAsync("ToggleTheme")

            <partial name="_LoginPartial" />
        </div>
    </div>
</header>