<header class="p-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <span
                class="d-flex align-items-center mb-lg-0 link-body-emphasis text-decoration-none me-auto"
                style="cursor: pointer; font-size: 24px"
                id="toggle-btn"
            >
                <i class="fa-solid fa-bars"></i>
            </span>

            <div class="form-check form-switch mb-0 me-4">
                <input class="form-check-input" type="checkbox" role="switch" id="darkMode" />
                <label class="form-check-label" for="darkMode">
                    <i id="dark-mode-icon" class="fa-solid fa-sun fa-lg"></i>
                </label>
            </div>
            <div class="dropdown text-end">
                <a
                    href="#"
                    class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <img
                        src="<%= loginUser.avatar%>"
                        alt="mdo"
                        width="32"
                        height="32"
                        class="rounded-circle"
                    />
                </a>
                <ul class="dropdown-menu text-small">
                    <li>
                        <a class="dropdown-item" href="/customer/orders">
                            <span
                                style="width: 20px"
                                class="d-inline-flex justify-content-center me-2"
                            >
                                <i class="fa-solid fa-table"></i></span
                            >Orders</a
                        >
                    </li>
                    <li>
                        <a class="dropdown-item" href="/customer/cart"
                            ><span
                                style="width: 20px"
                                class="d-inline-flex justify-content-center me-2"
                                ><i class="fa-solid fa-cart-shopping"></i></span
                            >Cart
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/customer/profile"
                            ><span
                                style="width: 20px"
                                class="d-inline-flex justify-content-center me-2"
                                ><i class="fa-solid fa-user"></i></span
                            >Profile</a
                        >
                    </li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                        <a class="dropdown-item" href="/auth/logout">
                            <span
                                style="width: 20px"
                                class="d-inline-flex justify-content-center me-2"
                            >
                                <i class="fa-solid fa-right-from-bracket"></i></span
                            >Sign out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>